@import 'react-credit-cards-2/dist/es/styles-compiled.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CUSTOMIZING LINK */

 a:-webkit-any-link {   
  text-decoration: none;
  position: relative;

  /* &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color:black; 
    transition: width 0.5s ease; 
  }

  &:hover::before {
    width: 100%; 
  }   */
}
 

/* Drawer menu styling */

.ant-drawer-body{
  padding: 0 !important;
}

.ant-menu-submenu .ant-menu-submenu-title{
  border-radius: 0;
}
.ant-menu-item{
  border-radius: 0 !important;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06) !important;
}




